<mat-card>
  <mat-card-title>{{ isEditMode ? 'Edit User' : 'Register' }}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="userform" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" *ngIf="isEditMode">
        <mat-label>ID</mat-label>
        <input matInput placeholder="ID" formControlName="id">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Enter your first name" formControlName="firstname">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Enter your last name" formControlName="lastname">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="dob">Date of Birth</mat-label>
        <input matInput id="dob" [matDatepicker]="picker" placeholder="Enter your date of birth" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <app-gender formControlName="gender"></app-gender>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter your username" formControlName="username">
        <mat-error *ngIf="userform.get('username')?.hasError('usernameExists')">
          Username already exists. Please choose another one.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Enter your email" formControlName="email">
        <mat-error *ngIf="userform.controls['email']?.errors?.['email']">
          Please enter a valid email address.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="!isEditMode">
        <mat-label>Password</mat-label>
        <input matInput [type] = "hide?'password':'text'" placeholder="Enter your password" formControlName="password">
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="userform.controls['password']?.errors?.['pattern']">
          Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character.
        </mat-error>
      </mat-form-field>
      <div *ngIf="isEditMode">
        <img [src]="user.photo">
      </div>
      <div>
        <label for="photo">Passport Size Photo</label>
        <input type="file" id="photo" (change)="onFileChange($event)">
      </div>
      <button mat-raised-button color="primary" type="submit">{{ isEditMode ? 'Update' : 'Register' }}</button>
    </form>
  </mat-card-content>
</mat-card>


