<div *ngIf="ifUser" class="user-details-container">
  <div class="user-details">
    <h1>Welcome {{user.firstname}} {{user.lastname}}</h1>
    <p><strong>Username:</strong> {{user.username}}</p>
    <p><strong>Email:</strong> <i>{{user.email}}</i></p>
    <p *ngIf="user.dob"><strong>Date of Birth:</strong> {{user.dob | date}}</p>
    <p><strong>Gender:</strong> {{user.gender}}</p>
    <p><strong>Role:</strong> {{user.role}}</p>
  </div>
  <div class="profile-picture" *ngIf="user.photo">
    <img [src]="user.photo" alt="Passport Size Photo">
  </div>
</div>

<div *ngIf="!ifUser">
  <h1>Welcome {{user.username}}</h1>
</div>

<div class="button-container">
  <button type="submit" class="downloadbutton" (click)="downloadFile()">Download File</button>
</div>
<div class="table-container">
<table mat-table [dataSource]="users" class="mat-elevation-z8 user-table">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let user"> {{user.id}} </td>
  </ng-container>

  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let user"> {{user.firstname}} </td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let user"> {{user.lastname}} </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let user"> {{user.gender}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>

  <ng-container matColumnDef="photo">
    <th mat-header-cell *matHeaderCellDef> Photo </th>
    <td mat-cell *matCellDef="let user">
      <img [src]="user.photo" alt="User Photo" class="table-photo" *ngIf="user.photo">
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let user">
      <button mat-button class="button-hover" (click)="getUser(user.id)">View</button>
      <button mat-button [ngClass]="{'button-hover': !(role === 'user' && user.id !== loggedInUserId)}" (click)="editUser(user.id)"
        [disabled]="role === 'user' && user.id !== loggedInUserId">Edit</button>
      <button mat-button [ngClass]="{'button-hover': !(role === 'user' && user.id !== loggedInUserId)}" (click)="deleteUser(user.id,ifUser)"
        [disabled]="role === 'user' && user.id !== loggedInUserId">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>