.user-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.mat-header-cell, .mat-cell {
  padding: 16px;
  text-align: left;
}

.mat-header-cell {
  font-weight: bold;
  background-color: #3f51b5;
  color: white;
  border-bottom: 2px solid #e0e0e0;
}

.mat-cell {
  border-bottom: 1px solid #e0e0e0;
}

.mat-elevation-z8 {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.mat-row:hover {
  background-color: #f1f1f1;
}

.button-container {
  text-align: right;
  margin-top: 20px;
}

.downloadbutton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.downloadbutton:hover {
  background-color: green;
}

.downloadbutton:active {
  background-color: #0056b3;
}

.user-details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-details {
  flex: 1;
}

.profile-picture {
  margin-left: 20px;
}

.profile-picture img {
  width: 150px;
  height: auto;
  border-radius: 8px;
}

.table-photo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}