<mat-card class="user-card">
    <mat-card-header>
      <mat-card-title>User Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="user-details">
        <img mat-card-avatar [src]="user.photo" alt="User Photo" *ngIf="user.photo">
        <p><strong>Username:</strong> {{user.username}}</p>
        <p><strong>First Name:</strong> {{user.firstname}}</p>
        <p><strong>Last Name:</strong> {{user.lastname}}</p>
        <p><strong>Date of Birth:</strong> {{user.dob | date}}</p>
        <p><strong>Gender:</strong> {{user.gender}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
        <p><strong>Role:</strong> {{user.role}}</p>
      </div>
    </mat-card-content>
  </mat-card>